html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
ul,
img {
  margin: 0;
  padding: 0;
}

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  -webkit-animation: fadeInAnimation ease 3s;
          animation: fadeInAnimation ease 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
img {
  display: block;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.6;
  color: #FFFFFF;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* BIOGRAPHY */
.bio {
  background-color: #0A0F16;
  display: flex;
  justify-content: space-between;
}
.bio img {
  max-width: 100%;
}

.bioText {
  padding-top: 70px;
  width: 70%;
}
.bioText :nth-child(2) {
  padding-bottom: 40px;
}

.bioText p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #FFFFFF;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.view {
  background-color: #B41D08;
  color: #FFFFFF;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px 15px;
  text-decoration: none;
}

/* PODCAST */
.podcast {
  background-image: url(../assets/nightSky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.podcastContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 130px;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
}

.logoTextBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
}
.logoTextBadge a {
  padding-top: 50px;
}

.podcastText {
  width: 45vw;
}
.podcastText p {
  padding-bottom: 50px;
}

.viewPodcast {
  background-color: #699F7B;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 15px 15px;
  text-decoration: none;
}

/* EXPERIENCE */
.container {
  background-color: #0A0F16;
  padding-bottom: 120px;
}

.experienceImage {
  background-image: url(../assets/GerryTalking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 450px;
  overflow: hidden;
}
.experienceImage h1 {
  font-size: 4rem;
  padding-left: 60px;
}
.experienceImage h1:first-of-type {
  margin-top: 150px;
}

.container p {
  padding: 60px;
}

.viewExperience {
  background-color: #B41D08;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 15px 15px;
  text-decoration: none;
  margin-left: 60px;
}

/* LOGO INFO */
.logoFlex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.logoText {
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 100px;
  position: relative;
}

.logo img {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 55s;
          animation-duration: 55s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 0.2;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logoText p {
  color: #FFFFFF;
  padding-left: 6rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
}

.logoText p a {
  text-decoration: none;
  color: #B41D08;
}

.signature {
  font-family: "Over the Rainbow";
  font-weight: 400;
  font-size: 3rem;
  color: #FFFFFF;
  margin-left: 12rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
  display: block;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.videoWrapper {
  background: black;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
footer .footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0A0F16;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
footer .footerWrapper p {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 50px;
}
footer .smallLogo img {
  padding-top: 30px;
}
footer .socialMedia li {
  display: inline-block;
  padding-top: 50px;
}
footer .socialMedia li:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
footer .socialMedia li a {
  color: white;
  font-size: 2.7rem;
  padding-bottom: 3px;
  background: linear-gradient(#B41D08, #B41D08) bottom/0 0.1em no-repeat;
  transition: 1s background-size;
}
footer .socialMedia li a:hover {
  background-size: 100% 0.1em;
}
@media screen and (max-width: 950px) {
  footer .footerWrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  footer .smallLogo img {
    max-width: 120px;
    max-height: auto;
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 950px) {
  h1 {
    font-size: 2.5rem;
  }

  .menu {
    padding-top: 20px;
  }

  .bio {
    flex-direction: column-reverse;
  }
  .bio img {
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
  }

  .bioText {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .bioText p {
    font-size: 1.6rem;
    padding-left: 40px;
    padding-right: 40px;
  }

  .view {
    font-size: 1.8rem;
    margin-left: 40px;
  }

  .podcastContainer {
    flex-direction: column;
    padding-bottom: 90px;
  }

  .podcastText {
    width: 100vw;
    padding-top: 10px;
  }
  .podcastText p {
    font-size: 1.6rem;
    margin-left: 40px;
    margin-right: 40px;
  }
  .podcastText .viewPodcast {
    font-size: 1.8rem;
    margin-left: 40px;
  }

  .logoTextBadge {
    padding-left: 0;
    padding-bottom: 20px;
  }
  .logoTextBadge a {
    padding-top: 10px;
  }
  .logoTextBadge .titaLogo {
    width: 50%;
  }

  .experienceImage {
    height: 350px;
    background-position: center;
  }
  .experienceImage h1 {
    font-size: 3rem;
  }

  .container {
    padding-bottom: 90px;
  }
  .container p {
    font-size: 1.6rem;
    padding: 40px;
  }
  .container .viewExperience {
    font-size: 1.8rem;
    margin-left: 40px;
  }

  .videoWrapper {
    padding-top: 50px;
  }

  .logoFlex {
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .logoFlex .logoText {
    padding-left: 0;
    padding-top: 30px;
  }
  .logoFlex .logoText p {
    padding-left: 0;
    font-size: 1.7rem;
  }

  .logo {
    padding-top: 20px;
  }
  .logo img {
    max-width: 150px;
    max-height: auto;
  }

  .signature {
    margin-left: 4rem;
    font-size: 2.5rem;
  }
}
header .flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
}
header .flexContainer img {
  width: 80%;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header .navContainer ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #0A0F16;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 13px;
  padding-bottom: 3px;
  background: linear-gradient(#B41D08, #B41D08) bottom/0 0.1em no-repeat;
  transition: 1s background-size;
}
header .navContainer ul li a:hover {
  background-size: 100% 0.1em;
}
@media screen and (max-width: 950px) {
  header .flexContainer img {
    width: 60%;
  }
  header nav ul {
    display: block;
  }
  header .navContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #0A0F16;
    opacity: 0;
    /* transition: all 0.2s ease; */
  }
  header .navContainer ul {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 90%;
  }
  header .navContainer ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  header .navContainer ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  header .navContainer ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  header .navContainer ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  header .navContainer ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  header .navContainer ul li:not(:first-child) {
    margin-left: 0;
  }
  header .navContainer ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    transform: translateY(-20px);
    background: none;
    transition: none;
  }
  header .navContainer ul li a:hover {
    color: #B41D08;
  }
  header .navOpen {
    right: 30px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  header .navOpen i {
    display: block;
    width: 25px;
    height: 2px;
    background: #B41D08;
    border-radius: 2px;
    margin-left: 14px;
  }
  header .navOpen i:nth-child(1) {
    margin-top: 16px;
  }
  header .navOpen i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  header .navOpen i:nth-child(3) {
    margin-top: 4px;
  }
}
header #nav:checked + .navOpen {
  transform: rotate(45deg);
}
header #nav:checked + .navOpen i {
  background: #fff;
  transition: transform 0.2s ease;
}
header #nav:checked + .navOpen i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
header #nav:checked + .navOpen i:nth-child(2) {
  opacity: 0;
}
header #nav:checked + .navOpen i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
header #nav:checked ~ .navContainer {
  z-index: 9990;
  opacity: 1;
}
header #nav:checked ~ .navContainer ul li a {
  opacity: 1;
  transform: translateY(0);
}
header .hidden {
  display: none;
}

.biographyForest {
  background-image: url(../assets/forest.jpg);
  background-size: cover;
  background-position: center;
  height: 45rem;
  display: flex;
  align-items: center;
}

.fullBio {
  margin-top: 40px;
  margin-bottom: 80px;
}
.fullBio h1 {
  color: #B41D08;
  padding: 30px 0;
  font-size: 4rem;
  font-weight: 400;
}
.fullBio .line {
  width: 50%;
  border-top: 2px solid #B41D08;
  float: right;
}
.fullBio p {
  color: #0A0F16;
}

.textImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 20px;
}
.textImageContainer .bioImage1 {
  width: 10%;
  padding-left: 80px;
}

.lineTwo {
  width: 70px;
  border-top: 2px solid #B41D08;
  display: inline-block;
  padding-bottom: 40px;
  margin: 0 45%;
}

aside {
  background-color: #0A0F16;
}

.bioImage2 {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 70px;
}
.bioImage2 p {
  font-size: 2.5rem;
}

footer .footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0A0F16;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
footer .footerWrapper p {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 50px;
}
footer .smallLogo img {
  padding-top: 30px;
}
footer .socialMedia li {
  display: inline-block;
  padding-top: 50px;
}
footer .socialMedia li:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
footer .socialMedia li a {
  color: white;
  font-size: 2.7rem;
  padding-bottom: 3px;
  background: linear-gradient(#B41D08, #B41D08) bottom/0 0.1em no-repeat;
  transition: 1s background-size;
}
footer .socialMedia li a:hover {
  background-size: 100% 0.1em;
}
@media screen and (max-width: 950px) {
  footer .footerWrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  footer .smallLogo img {
    max-width: 120px;
    max-height: auto;
  }
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 3rem;
  }

  .textImageContainer {
    flex-direction: column-reverse;
    width: 100%;
  }
  .textImageContainer .bioImage1 {
    padding-left: 0;
    width: 50%;
    padding-bottom: 20px;
  }

  .bioImage2 {
    display: block;
  }
  .bioImage2 img {
    margin: 0 auto;
  }
}
.experienceMain {
  background-image: url(../assets/GerryTalking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 45rem;
  overflow: hidden;
}

.fullExp {
  margin-top: 40px;
  margin-bottom: 80px;
}
.fullExp h1 {
  color: #B41D08;
  padding: 30px 0;
  font-size: 4rem;
  font-weight: 400;
}
.fullExp .line {
  width: 50%;
  border-top: 2px solid #B41D08;
  float: right;
}
.fullExp p {
  padding-top: 50px;
  color: #0A0F16;
}

.logoContainer {
  background-color: #0A0F16;
}
.logoContainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.logoContainer ul li {
  margin: 25px;
}

.mainContainer {
  padding-top: 40px;
  padding-bottom: 90px;
}

.experienceContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.experienceContainer .leftText {
  background-color: #C4CCD6;
  width: 80%;
}
.experienceContainer .leftText p {
  color: #0A0F16;
  font-size: 2rem;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 35px;
}
.experienceContainer .leftText .read {
  background-color: #B41D08;
  color: #FFFFFF;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  padding: 15px 20px;
  margin-left: 40px;
  text-decoration: none;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 45px;
  margin-left: 40px;
}

@media only screen and (max-width: 1084px) {
  .leftText {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 100%;
  }

  .rightImg {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  h1 {
    font-size: 3rem;
  }
}
.contact {
  margin-top: 40px;
  margin-bottom: 80px;
}
.contact h1 {
  color: #B41D08;
  padding: 30px 0;
  font-size: 4rem;
  font-weight: 400;
}
.contact .line {
  width: 50%;
  border-top: 2px solid #B41D08;
  float: right;
}
.contact p {
  padding-top: 50px;
  color: #0A0F16;
}

.contactImage {
  background-image: url(../assets/GerryCanoe1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 45rem;
  overflow: hidden;
}

.socialContact {
  color: #B41D08;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.socialContact li a {
  text-decoration: none;
  color: #B41D08;
}
.socialContact .fab,
.socialContact .far {
  padding-right: 10px;
  padding-bottom: 30px;
  font-size: 2.5rem;
  vertical-align: top;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 3rem;
  }
}
.list {
  padding-bottom: 60px;
  padding-top: 30px;
}
.list h1 {
  color: #B41D08;
  font-size: 4rem;
  font-weight: 400;
  padding-top: 30px;
}
.list h2 {
  color: #B41D08;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 20px;
}
.list h3 {
  font-size: 2.3rem;
  font-weight: 400;
  color: #B41D08;
  margin-bottom: 10px;
}
.list p {
  color: #0A0F16;
  padding-top: 50px;
}
.list a {
  color: #B41D08;
}

.intro {
  background-color: #0A0F16;
}
.intro p {
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

.list ul {
  list-style: none;
}
.list ul li {
  padding-bottom: 20px;
}

.line {
  width: 50%;
  border-top: 2px solid #B41D08;
  float: right;
}

.electedContainer ul {
  padding-top: 10px;
  font-size: 1.9rem;
  list-style-type: circle;
}
.electedContainer h3 {
  font-size: 2.3rem;
  font-weight: 400;
  color: #B41D08;
  margin-bottom: 10px;
}

.italic {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 5px;
}

.developmentList ul li {
  padding-bottom: 0px;
}

.developmentList .italic {
  padding-bottom: 20px;
}

.back {
  text-align: center;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #B41D08;
  margin-left: 2px;
  margin-right: 2px;
}
a :visited {
  color: #B41D08;
}/*# sourceMappingURL=styles.css.map */